go 1.26.2

use (
	./examples/auto-suspend
	./examples/database-fork
	./examples/detached-sandbox
	./examples/explicit-suspend-resume
	./examples/file-management
	./examples/shared-sandbox
	./examples/snapshot-fork
	./sdk
)
